<section class="todo">
  <button mat-icon-button color="accent" (click)="redirectToTodos()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="openEditTodoDialog()">
    <mat-icon>edit</mat-icon>
  </button>
  <mat-card class="example-card" *ngIf="todo$ | async as todo">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>ID: {{ todo.id }}</mat-card-title>
        <mat-card-subtitle>
          Status: {{ todo.completed ? "Completed" : "Not Completed" }}
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <h2>{{ todo.todo }}</h2>
    </mat-card-content>
  </mat-card>
</section>
