:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

mat-card {
  max-width: 600px;
  width: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
