button {
  margin: 2rem 4rem;
}

.todo-list {
  padding: 0 4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.todo-card {
  display: block;
}
