@use "@angular/material" as mat;

$brand-primary: (
  50: #e6f4e8,
  100: #c4e4c6,
  200: #9ed3a1,
  300: #76c37c,
  400: #57b661,
  500: #37a944,
  600: #2e9a3c,
  700: #228931,
  800: #167826,
  900: #005914,
  contrast: (
    50: #3c3c3c,
    100: #3c3c3c,
    200: #3c3c3c,
    300: #3c3c3c,
    400: #3c3c3c,
    500: #3c3c3c,
    600: #dedede,
    700: #dedede,
    800: #dedede,
    900: #dedede,
  ),
);

$brand-accent: (
  50: #f2e2f0,
  100: #e0b7db,
  200: #cc87c4,
  300: #b657ad,
  400: #a6309c,
  500: #96008d,
  600: #8a0088,
  700: #790081,
  800: #69007a,
  900: #4d006e,
  contrast: (
    50: #3c3c3c,
    100: #3c3c3c,
    200: #3c3c3c,
    300: #3c3c3c,
    400: #3c3c3c,
    500: #3c3c3c,
    600: #dedede,
    700: #dedede,
    800: #dedede,
    900: #dedede,
  ),
);
